*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 20px;
  font-family: 'poppins', sans-serif;
}

h1{
  color: goldenrod;
  font-weight: 800;
}

.reset, #auto{
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

button:hover{
  transform: scale(1.06);
  transition: all ease 0.2s;
}

.heads{
  color: black;
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.tails{
  color: black;
  font-size: 15px;
  font-weight: 800;
  border: none;
  border-radius: 10px;
  background-color: white;
}

.reset{
  background-color: red;
  color: white;
}

#auto{
  background-color: chocolate;
}

#win, #lose{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  font-weight: 700;
}

.scores{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

img{
  width: 200px;
  height: 100px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-img1{
  width: 170px;
}

.texts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.texts p{
  background-color: black;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 10px;
}

@media (max-width: 400px){
  img{
    width: 150px;
    height: 80px;
  }

  .js-img1{
    width: 127px;
  }

  h1{
    font-size: 20px;
  }

  .texts p{
    font-size: 13px;
    padding: 8px;
  }

  .reset, #auto{
    width: 50%;
    font-size: 12px;
  }
}